*~

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# IDE
.vscode

# macOS
.DS_Store

# Test artifacts
tests/previous_stats.json
tests/temp/

# PyInstaller
build/
dist/
*.spec
